body {
  font-size: 20px !important;
  background-image: linear-gradient(
    190deg,
    white 20%,
    rgb(175, 183, 252) 100%
  ) !important;
}

header,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

img {
  width: 275px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.form {
  margin-top: 50px;
}
input {
  padding: 10px !important;
}
.btn {
  font-size: 30px !important;
}
